tibco.bw.sample.palette.file.OrderProcessing/Service Descriptors/ProcessOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:extns1="http://www.example.org/new_order_schema" xmlns:tns="http://www.example.org/wsdl/1412067461187" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculateShippingcostsService" targetNamespace="http://www.example.org/wsdl/1412067461187">
  
    <wsdl:import namespace="http://www.example.org/new_order_schema" location="../Schemas/new_order_schema.xsd"/>
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/wsdl/1412067461187">
	<xsd:element name="info_from_order">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="total_order_price" type="xsd:int"/>
				<xsd:element name="destination" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="shipping_costs" type="xsd:int"/>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="CalculateShippingcostsOperationRequest">
        <wsdl:part element="tns:info_from_order" name="Input-Msg-Part"/>
    </wsdl:message>
  <wsdl:message name="CalculateShippingcostsOperationResponse">
    <wsdl:part element="tns:shipping_costs" name="Output-Msg-Part"/>
    </wsdl:message>
  <wsdl:portType name="CalculateShippingcostsService">
    <wsdl:operation name="CalculateShippingcostsOperation">
      <wsdl:input message="tns:CalculateShippingcostsOperationRequest" name="operationInput"/>
      <wsdl:output message="tns:CalculateShippingcostsOperationResponse" name="operationOutput"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
